---
- hosts: vagrant
  tasks:
    - include: vagrant.yml

- hosts: raspberry_pi
  tasks:
    - include: raspberry_pi.yml

- hosts: all
  tasks:
    - include: common.yml
    - include: prerequisites.yml
    - include: pysparc.yml
  handlers:
    - include: handlers.yml
